// ***********************************
//  Main: Site Content
// ***********************************
main.site-content {
  position: relative;
  overflow: hidden;
}




// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
  width: min(var(--w-default), 100%);
  margin-inline: auto;
  padding-inline: 1em;
}




// ***********************************
//  Even Columns
// ***********************************
.even-columns {
  display: grid;
  gap: clamp(1em, 3vw, 3em);

  >* {
    
  }
}

.even-columns--three {
  grid-template-columns: repeat(3, 1fr);
}

.even-columns--four {
  grid-template-columns: repeat(4, 1fr);
}




// ***********************************
//  Callout CTAs
// ***********************************
.callout-ctas {
  
}

.callout-ctas__item {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--c-grey-100);

  img {
    order: 0;
  }
}