// ***********************************
//  Main: Site Content
// ***********************************
main.site-content {
  position: relative;
  overflow: hidden;

  &.interior {
    h1 {
      @extend %text-6;
    }
  }

  &.no-masthead {
    margin-top: var(--header-height);
  }
}




// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
  width: min(var(--w-default), 100%);
  margin-inline: auto;
  padding-inline: 1em;

  p {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}




// ***********************************
//  Even Columns
// ***********************************
.even-columns {
  display: grid;
  gap: clamp(1em, 3vw, 3em);
}

.even-columns--two {
  grid-template-columns: repeat(2, 1fr);

  &--reverse {
    grid-auto-flow: column;

    > *:nth-child(1) {
      grid-column: 2;
    }

    > *:nth-child(2) {
      grid-column: 1;
    }

    @media (max-width: $vw-200) {
      > *:nth-child(1),
      > *:nth-child(2) {
        grid-column: 1;
      }
    }
  }
}

.even-columns--three {
  grid-template-columns: repeat(3, 1fr);
}

.even-columns--four {
  grid-template-columns: repeat(4, 1fr);
}

.even-columns--two--vw500 {
  @media (max-width: $vw-500) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.even-columns--one-vw500 {
  @media (max-width: $vw-500) {
    grid-template-columns: 1fr;
  }
}

.even-columns--one-vw400 {
  @media (max-width: $vw-400) {
    grid-template-columns: 1fr;
  }
}

.even-columns--one-vw300 {
  @media (max-width: $vw-300) {
    grid-template-columns: 1fr;
  }
}

.even-columns--one-vw200 {
  @media (max-width: $vw-200) {
    grid-template-columns: 1fr;
  }
}

.even-columns--gap-0-vw200 {
  @media (max-width: $vw-200) {
    gap: 0;
  }
}

.even-columns--gap-2-vw200 {
  @media (max-width: $vw-200) {
    gap: 2em;
  }
}

.even-columns--gap-5-vw200 {
  @media (max-width: $vw-200) {
    gap: 5em;
  }
}

.even-columns--center-vw500 {
  @media (max-width: $vw-500) {
    text-align: center;

    img {
      margin-inline: auto;
    }
  }
}

.even-columns--center-vw200 {
  @media (max-width: $vw-200) {
    text-align: center;

    img {
      margin-inline: auto;
    }
  }
}





// ***********************************
//  Callout CTAs
// ***********************************
.callout-ctas__item {
  display: flex;
  flex-direction: column;
  gap: 1em;

  img {
    order: 0;
  }
}

.callout-ctas__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
  height: 100%;

  &--underline {
    border-bottom: 2px solid var(--c-grey-100);
    margin-bottom: 0.5em;
  }

  &--box {
    border: 2px solid var(--c-grey-100);
    padding: 2em;
    border-radius: 2em;
  }
}

.callout-ctas__link {
  a {
    @media (max-width: $vw-200) {
      margin-inline: auto;
    }
  }
}




// ***********************************
//  Background Grey Swoop
// ***********************************
.bg-grey-swoop-01 {
  background: url(../assets/bg-grey-swoop-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-grey-swoop-02 {
  background: url(../assets/bg-grey-swoop-02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}




// ***********************************
//  Split Content
// ***********************************
.split-content {
  @media (max-width: $vw-200) {
    text-align: center;

    img {
      margin-inline: auto;
    }

    .button {
      margin-inline: auto;
    }
  }
}

.split-content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .split-content__text__flex {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}

.split-content__image {
  img {
    width: 100%;
    height: 100%;
    max-height: 760px;
    object-fit: cover;
  }

  &--scale-down {
    img {
      object-fit: scale-down;
    }
  }

  &--circle--mobile {
    img {
      @media (max-width: $vw-200) {
        border-radius: 100%;
        aspect-ratio: 1;
        object-position: center -3em; // top
      }
    }
  }

  &--rounded {
    img {
      border-radius: 2em;
    }
  }
}

.split-content__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(1em, 5vw, 2em);
}

.split-content--bg {
  background-color: var(--c-grey-100);
  border-radius: 2em;
}




// ***********************************
//  Sub Text
// ***********************************
.gap-line {
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: var(--c-black);
    margin-top: 1.5em;

    @media (max-width: $vw-200) {
      margin-inline: auto;
    }
  }
}




// ***********************************
//  Points
// ***********************************
.points {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.points__item {
  display: flex;
  gap: clamp(1em, 3vw, 3em);
  align-items: start;

  @media (max-width: $vw-200) {
    flex-direction: column;
  }
}




// ***********************************
//  Horizontal Content
// ***********************************
.horizontal-content {
  display: grid;
  gap: clamp(1em, 5vw, 5em);
}

.horizontal-content--1-2 {
  grid-template-columns: 1fr 3fr;
}

.horizontal-content--1-vw300 {
  @media (max-width: $vw-300) {
    grid-template-columns: 1fr;
  }
}

.horizontal-content__item {
  @media (max-width: $vw-200) {
    text-align: center;
  }
}




// ***********************************
//  List Boxes
// ***********************************
.list-boxes {
  &--5 {
    ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  &--4 {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--3 {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    display: grid;
    gap: 1em;
    align-items: center;

    @media (max-width: $vw-800) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $vw-600) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $vw-200) {
      grid-template-columns: 1fr;
    }
  }

  &.list-boxes--rounded {
    li {
      font-size: var(--fs-400);
      line-height: var(--lh-400);
      padding: 1em;
      border: 1px solid var(--c-grey-200);
      border-radius: 2em;
      text-align: center;

      &:has(a) {
        border: none;
        padding: 0;

        a {
          font-weight: var(--fw-600);
          text-transform: uppercase;
          background-color: var(--c-black);
          border-radius: 2em;
          color: var(--c-white);
          display: block;
          padding: 1em;
          transition: all var(--t-fast);

          &:hover,
          &:focus {
            background-color: var(--c-primary);
            text-decoration: none;
          }
        }
      }
    }
  }

  &.list-boxes--underlined {
    li {
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
      line-height: var(--lh-400);
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 1em;
      border-bottom: 2px solid var(--c-grey-200);
    }
  }
}




// ***********************************
//  Text Wrap
// ***********************************
.text-wrap {
  p {
    border: 2px solid var(--c-primary);
    border-radius: 0.5em;
    background-color: var(--c-grey-100);
    width: fit-content;
    margin-inline: auto;
    padding: 1em;
  }
}




// ***********************************
// ***********************************
.border-box {
  border: 2px solid var(--c-grey-100);
  padding: 2em;
  border-radius: 2em;
}




// ***********************************
//  Testimonials
// ***********************************
.testimonials {
  font-style: italic;
  line-height: 2;

  figure {
    margin: 0;
  }

  blockquote {
    &:before,
    &:after {
      content: '"';
      display: inline;
      font-style: normal;
      color: var(--c-grey-400);
    }
  }

  figcaption {
    font-style: normal;
  }
}