// ***********************************
//  Main: Site Content
// ***********************************
main.site-content {
  position: relative;
  overflow: hidden;
}




// ***********************************
//  Content
// ***********************************
// Typically used within <section> elements that are
// children of the <main id="site-content"> element
.content {
  width: min(var(--w-default), 100%);
  margin-inline: auto;
  padding-inline: 1em;
}




// ***********************************
//  Even Columns
// ***********************************
.even-columns {
  display: grid;
  gap: clamp(1em, 3vw, 3em);
}

.even-columns--two {
  grid-template-columns: repeat(2, 1fr);
}

.even-columns--three {
  grid-template-columns: repeat(3, 1fr);
}

.even-columns--four {
  grid-template-columns: repeat(4, 1fr);
}

.even-columns--two--vw500 {
  @media (max-width: $vw-500) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.even-columns--one-vw200 {
  @media (max-width: $vw-200) {
    grid-template-columns: 1fr;
  }
}

.even-columns--gap-0-vw200 {
  @media (max-width: $vw-200) {
    gap: 0;
  }
}

.even-columns--gap-5-vw200 {
  @media (max-width: $vw-200) {
    gap: 5em;
  }
}




// ***********************************
//  Callout CTAs
// ***********************************
.callout-ctas__item {
  display: flex;
  flex-direction: column;
  gap: 1em;

  img {
    order: 0;
  }
}

.callout-ctas__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--c-grey-100);

  @media (max-width: $vw-200) {
    text-align: center;

    img {
      margin-inline: auto;
    }
  }
}

.callout-ctas__link {
  @media (max-width: $vw-200) {
    text-align: center;
  }
}




// ***********************************
//  Split Content
// ***********************************
.split-content {
  h2 {
    @extend %text-6;
  }

  @media (max-width: $vw-200) {
    text-align: center;

    img {
      margin-inline: auto;
    }

    .button {
      margin-inline: auto;
    }
  }
}

.split-content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  >div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}

.split-content__image {
  img {
    width: 100%;
    height: 100%;
    max-height: 760px;
    object-fit: cover;

    @media (max-width: $vw-200) {
      border-radius: 100%;
      aspect-ratio: 1;
      object-position: center -3em; // top
    }
  }
}




// ***********************************
//  Sub Text
// ***********************************
.sub-text {
  @extend %text-7;

  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: var(--c-black);
    margin-top: 1.5em;

    @media (max-width: $vw-200) {
      margin-inline: auto;
    }
  }
}