// ***********************************
//  Footer
// ***********************************
.footer {
  width: 100%;
  background-color: var(--c-grey-500);
  color: var(--c-white);

  h2 {
    @extend %text-4;
    line-height: 1;
    color: var(--c-white);
    margin-bottom: 0.5em;
  }

  a {
    color: var(--c-white);
    text-decoration: none;

    &:is(:hover, :focus) {
      color: var(--c-primary);
      text-decoration: underline;
    }
  }

  .button {
    &:is(:hover, :focus) {
      text-decoration: none;
    }
  }
}




// ***********************************
//  Footer Flex
// ***********************************
.footer__flex {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}




// ***********************************
//  Container
// ***********************************
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-top: 5em;

  @media (max-width: $vw-900) {
    gap: 2em;
  }

  @media (max-width: $vw-400) {
    gap: 0;
  }
}




// ***********************************
//  Main
// ***********************************
.footer__main {
  display: flex;
  justify-content: space-between;

  @media (max-width: $vw-900) {
    flex-direction: column;
    text-align: center;
    gap: 3em;
  }
}




// ***********************************
//  Address
// ***********************************
.footer__address {
  @media (max-width: $vw-900) {
    .icon {
      justify-content: center;
    }
  }
}




// ***********************************
//  Navigation
// ***********************************
.footer__nav {
  ul {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5em;
    column-gap: 3em;

    @media (max-width: $vw-900) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 380px;
      margin-inline: auto;
    }

    @media (max-width: $vw-100) {
      grid-template-columns: 1fr;
      max-width: 100%;
    }
  }
}




// ***********************************
//  Social
// ***********************************
.footer__social {
  .social {
    display: flex;
    margin: 0;

    @media (max-width: $vw-900) {
      justify-content: center;
    }

    a {
      font-size: var(--fs-1000);
      color: var(--c-white);
      text-decoration: none;
      transition: color var(--t-medium);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;

      &:hover,
      &:focus {
        color: var(--c-red);
      }
    }
  }
}




// ***********************************
//  Links
// ***********************************
.footer__links {
  background-color: var(--c-black);
  text-align: center;

  @media (max-width: $vw-400) {
    background-color: var(--c-grey-500);
  }
}

.footer__links__container {
  padding-block: 2em;

  @media (max-width: $vw-400) {
    padding-bottom: 6em;
  }

  @media (max-width: $vw-200) {
    padding-bottom: 11em;
  }

  span {
    @media (max-width: $vw-100) {
      display: none;
    }
  }

  br {
    display: none;

    @media (max-width: $vw-100) {
      display: block;
    }
  }
}