// ***********************************
//  Footer
// ***********************************
.footer {
  width: 100%;
  background-color: var(--c-secondary);
  color: var(--c-white);

  h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-600);
    font-weight: var(--fw-500);
    line-height: var(--lh-400);
    color: var(--c-white);
    text-transform: uppercase;
  }

  a {
    color: var(--c-white);
    text-decoration: none;

    &:is(:hover, :focus) {
      text-decoration: underline;
    }
  }

  .button {
    &:is(:hover, :focus) {
      text-decoration: none;
    }
  }
}




// ***********************************
//  Container
// ***********************************
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-top: 4.5em;
  padding-bottom: 2em;
  padding-inline: 2em;

  @media (max-width: $vw-700) {
    padding-top: 3em;
    padding-bottom: 4.5em;
    gap: 2em;
  }

  @media (max-width: 680px) {
    padding-bottom: 6em;
  }
}




// ***********************************
//  Main
// ***********************************
.footer__main {
  display: flex;
  justify-content: space-between;

  @media (max-width: $vw-700) {
    flex-direction: column;
    text-align: center;
  }

  h2 {
    margin-bottom: 0.35em;

    @media (max-width: $vw-700) {
      display: none;
    }
  }
}




// ***********************************
//  Logo
// ***********************************
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}




// ***********************************
//  Social
// ***********************************
.footer__social {
  margin-top: 2em;
  
  @media (max-width: $vw-700) {
    margin-top: 1em;
  }

  .social {
    display: flex;
    justify-content: center;

    a {
      font-size: var(--fs-800);
      color: var(--c-primary);
      text-decoration: none;
      transition: color var(--t-long);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;

      &:hover,
      &:focus {
        color: var(--c-white);
      }
    }
  }
}




// ***********************************
//  Address
// ***********************************
.footer__address {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  line-height: 2;

  img {
    @media (max-width: $vw-400) {
      margin-inline: auto;
    }
  }

  a {
    color: var(--c-black);
    text-decoration: none;
  }
}




// ***********************************
//  Navigation
// ***********************************
.footer__nav {
  @media (max-width: $vw-700) {
    display: none;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4em;
    row-gap: 0.75em;
    margin-left: 0;

    a {
      font-weight: var(--vw-400);
      text-transform: none;
    }
  }

  li {
    &.footer__nav__hide {
      display: none;
    }
  }
}




// ***********************************
//  Booking
// ***********************************
.footer__booking {
  @media (max-width: $vw-700) {
    display: none;
  }

  .button-3 {
    max-width: 200px;
  }
}




// ***********************************
//  Links
// ***********************************
.footer__links {
  text-align: center;
}