// ***********************************
//  Default styles (glide.js)
// ***********************************
%glide-default {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;

  .glide__track {
    height: 100%;
  }

  .glide__slides {
    height: 100%;

    // fixes vertical line/gap on the left of each slide
    // .glide__slide {
    //   margin-left: 0 !important;
    //   margin-right: 0 !important;
    // }
  }

  .glide__slide {
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: auto;
      max-width: none;
    }
  }
}




// ***********************************
//  Default Previous/Next Arrows (for glide.js)
// ***********************************
.arrows-default {
  .glide {
    .glide__arrows {
      .glide__arrow--left,
      .glide__arrow--right {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 300;
        background-color: transparent;
        border: none;
        font-size: 0;
        line-height: 1;
        cursor: pointer;

        &:after {
          display: block;
          height: 50px;
          color: var(--c-white);
          font-size: 3rem;
          font-family: 'icons';
          transition: color var(--t-long);
        }

        &:hover,
        &:focus {
          &:after {
            color: var(--c-tertiary);
          }
        }

        &.hide {
          display: none;
        }
      }

      .glide__arrow--left {
        left: 12px;

        &:after {
          content: '\e804';
        }
      }

      .glide__arrow--right {
        right: 12px;

        &:after {
          content: '\e807';
        }
      }
    }
  }
}




// ***********************************
//  Alternative Previous/Next Arrows (for glide.js)
// ***********************************
.arrows-alternative {
  .glide {
    .glide__arrows {
      position: absolute;
      inset: 50% auto auto 0;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;

      .glide__arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        padding: 0;
        font-family: 'icons';
        background-color: rgb(255 255 255 / 0.8);
        transition: all var(--t-medium);
        border: none;
        cursor: pointer;
        font-size: 0;

        &:before {
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.75;
          color: var(--c-primary);
        }

        &:hover,
        &:focus {
          background-color: var(--c-white);

          &:before {
            color: var(--c-primary);
          }
        }

        &.glide__arrow--left {
          &:before {
            content: '\e804';
          }
        }

        &.glide__arrow--right {
          &:before {
            content: '\e800';
          }
        }
      }
    }
  }
}




// ***********************************
//  Default Pagination (for glide.js)
// ***********************************
.pagination-default {
  .glide {
    list-style: none;

    .glide__bullets {
      display: flex;
      justify-content: center;
      gap: 0.5em;
      position: absolute;
      inset: auto auto 2em auto;
      width: 100%;
      transition: 300ms opacity;
      transform: translate3d(0, 0, 0);
      z-index: 100;

      .glide__bullet {
        background-color: transparent;
        opacity: 1;
        width: 1.4em;
        height: 1.4em;
        margin: 0 0.1em;
        padding: 0;
        border-radius: 50%;
        border: 2px solid var(--c-white);
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
        transition: all .3s ease-in-out;
        line-height: 0;
        cursor: pointer;

        &.glide__bullet--active {
          background-color: var(--c-white);
        }
      }
    }
  }
}




// ***********************************
//  Overlay (for glide.js)
// ***********************************
.overlay {
  .glide {
    .glide__track {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 102;
      }
    }
  }
}




// ***********************************
//  Transition: Fade (for glide.js)
//  see https://github.com/glidejs/glide/issues/279 for more details
// ***********************************
.transition-fade {
  .glide {
    .glide__slides {
      transform: none !important;
      width: auto !important;
      display: block;
    }

    .glide__slide {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: opacity 1s;
    }

    .glide__slide:first-child {
      position: relative;
    }

    .glide__slide--active {
      z-index: 1;
      opacity: 1;
    }
  }
}




// ***********************************
//  Masthead Slideshow
// ***********************************
.masthead {
  position: relative;
  background-color: var(--c-black);
  z-index: 8000;

  @media (max-width: $vw-500) {
    margin-top: var(--header-height);
  }

  // glide.js
  .masthead__slideshow {
    @extend %glide-default;

    .glide {
      .glide__slide {
        picture,
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .glide__arrows {
        @media (max-width: $vw-100) {
          display: none;
        }
      }
    }

    &.interior {
      .glide {
        max-width: 1920px;
        max-height: 700px;
        overflow: hidden;
        margin-inline: auto;
      }
    }
  }
}




// ***********************************
//  Masthead Video
// ***********************************
.masthead--video {
	position: relative;

  video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;

    @media (max-width: $vw-500) {
      height: 50vh;
      margin-top: var(--header-height);
    }
  }

  @media (max-width: $vw-500) {
    .content-overlay {
      display: none;
    }
  }
}




// ***********************************
//  Content Slideshow (glide.js)
// ***********************************
.slideshow {
  @extend %glide-default;
}




// ***********************************
//  Carousel (glide.js)
// ***********************************
.carousel {
  @extend %glide-default;
}