html {
  // scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 145px);
}




// ***********************************
//  Body
// ***********************************
body {
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--root-font-size);
  color: var(--c-black);
  background-color: var(--c-white);
}




// ***********************************
//  Text Style Guide
// ***********************************

// default text
%text-1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-500);
  color: var(--c-dark-grey);
}
.text-1 { @extend %text-1; }

// gold text
%text-2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  line-height: var(--lh-400);
  color: var(--c-primary);
  text-transform: uppercase;
}
.text-2 { @extend %text-2; }

// white text
%text-3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  line-height: var(--lh-400);
  color: var(--c-white);
  text-transform: uppercase;
}
.text-3 { @extend %text-3; }

// heading - large font size
%text-4 {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--fs-800), 5vw, var(--fs-1000));
  font-weight: var(--fw-500);
  line-height: var(--lh-400);
  color: var(--c-secondary);
}
.text-4 { @extend %text-4; }
.text-4--h1 h1 { @extend %text-4; }
.text-4--h2 h2 { @extend %text-4; }
.text-4--h3 h3 { @extend %text-4; }

// heading - large font size - white
%text-5 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-1000);
  font-weight: var(--fw-500);
  line-height: var(--lh-400);
  color: var(--c-white);
}
.text-5 { @extend %text-5; }
.text-5--h1 h1 { @extend %text-5; }
.text-5--h2 h2 { @extend %text-5; }
.text-5--h3 h3 { @extend %text-5; }

// heading - small font-size
%text-6 {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--fs-700), 5vw, var(--fs-900));
  font-weight: var(--fw-500);
  line-height: var(--lh-400);
  color: var(--c-secondary);
}
.text-6 { @extend %text-6; }
.text-6--h1 h1 { @extend %text-6; }
.text-6--h2 h2 { @extend %text-6; }
.text-6--h3 h3 { @extend %text-6; }

// bold text
%text-7 {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  line-height: var(--lh-400);
  color: var(--c-black);
  text-transform: uppercase;
}
.text-2 { @extend %text-7; }




// ***********************************
//  Site Text
// ***********************************

// main element
.site-content {
  @extend %text-1;

  strong {
    font-weight: var(--fw-700);
  }

  em {
    font-style: italic;
  }
}

// default text
.text-df {
  h1 {
    @extend %text-4;
  }

  h2 {
    @extend %text-4;
  }
}

// default text - interior
.interior {
  .text-df {
    h1,
    h2 {
      margin-bottom: 0.25em;
    }
  }
}




// ***********************************
// Text Underline
// ***********************************
.text-underline {
  h1, h2, h3, h4 {
    margin-bottom: 0.9em;

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      background-color: var(--c-tertiary);
      margin-inline: auto;
      margin-top: 0.7em;
    }
  }
}




// ***********************************
// Link Underline
// ***********************************
%link-underline {
  display: inline-block;
  width: fit-content;

  &:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--c-primary);
    // transform: scaleX(0);
    opacity: 0;
    transform-origin: 0% 50%;
    transition: opacity var(--t-medium);
  }

  &:hover,
  &:focus {
    &:after {
      // transform: scaleX(1);
      opacity: 1;
    }
  }
}

.link-underline {
  @extend %link-underline;
}




// ***********************************
// Text Paragraph First
// ***********************************
.text-paragraph-first {
  display: flex;
  flex-direction: column;

  >* {
    order: 2;
  }

  >p {
    order: 1;

    @extend %text-2;
  }

  &.text-paragraph-first--dark {
    >p {
      @extend %text-3;
    }

    h2 {
      @extend %text-5;
    }
  }
}




// ***********************************
//  Default links
// ***********************************
a {
  color: var(--c-primary);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}




// ***********************************
//  Content Lists
// ***********************************
.content {
  ul {
    margin-left: 1em;
  }
}




// ***********************************
//  Buttons
// ***********************************
%button-defaults {
  font-size: var(--fs-400);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  transition: all var(--t-medium);
  cursor: pointer;
}

.button {
  @extend %button-defaults;
  color: var(--c-secondary);
  background-color: var(--c-white);
  border: 2px solid var(--c-primary);
  position: relative;
  padding-block: 0.75em;
  padding-inline: 2.15em;

  &:hover,
  &:focus {
    color: var(--c-white);
    background-color: var(--c-primary);
  }
}

.button--remove-styling {
  border: none;
}

.button--wide {
  padding-inline: 3.25em;
}

%button-dark {
  color: var(--c-white);
  background:rgb(var(--c-secondary-rgb) / 0.85);
}

.button--dark {
  @extend %button-dark;
}

.buttons-row {
  display: flex;
  gap: 1em;

  @media (max-width: $vw-300) {
    flex-direction: column;
    width: fit-content;
  }

  >a {
    flex-grow: 0;
    flex-shrink: 1;

    @media (max-width: $vw-300) {
      width: 100%;
      text-align: center;
    }
  }
}




// ***********************************
//  Social
// ***********************************
.social {
  list-style: none;

  a {
    &:before {
      content: '\e801';
      font-family: 'icons';
    }
  }
}

.social__facebook a:before { content: '\f09a'; }
.social__instagram a:before { content: '\f16d'; }
.social__twitter a:before { content: '\f099'; }




.icon {
  display: flex;
  column-gap: 0.5em;

  &:before {
    content: '';
    font-family: 'icons';
    font-size: var(--fs-500);
    color: var(--c-primary);
  }
}

.icon--address {
  &:before {
    content: '\E814';
  }
}

.icon--phone {
  &:before {
    content: '\E815';
  }
}